---
// pages/city/[city].astro - Fixed version
import { cities } from "../../data/citiesData.js";
import CityDetailLayout from "../../layouts/CityDetailLayout.astro";
import CityTabs from "../../components/CityTabs.astro";
import { Image } from "astro:assets";

// Get city ID from URL parameters
const { city: cityId } = Astro.params;

// Redirect to cities page if no ID is provided
if (!cityId) {
  return Astro.redirect("/cities");
}

// Find the city by ID
const cityData = cities.find((city) => city.id === cityId);

// Redirect to 404 if city not found
if (!cityData) {
  return Astro.redirect("/404");
}

// Generate static paths for each city
export function getStaticPaths() {
  return cities.map((city) => ({
    params: { city: city.id },
  }));
}
export const prerender = true;
const {
  layout = '../../layouts/CityDetailLayout.astro',
  title = `${cityData.name}`,
  description = `StudentImpact ${cityData.name}の詳細情報`,
  image = cityData.image,
  bgClass = `bg-${cityData.id}`,
  url = `https://studentimpactjapan.org/city/${cityData.id}`,
} = Astro.props;
---
<CityDetailLayout
  title={`${cityData.id} ${cityData.name}`}
  description={`StudentImpact ${cityData.name}の詳細情報`}
  image={cityData.image}
  bgClass={`bg-${cityData.id}`}
  url={`https://studentimpactjapan.org/city/${cityData.id}`}>
  <section class="position-relative bg-tranquil overflow-hidden">
    <div class="container position-relative">
        <div class="row align-items-center justify-content-center g-3 mb-30px">
            <div class="col-lg-6 col-md-11 position-relative md-mb-30px">
              <figure class="mb-0"> 
              <Image
              src={cityData.image}
              alt={cityData.description}
              width={cityData.image.width}
              height={cityData.image.height}
              class="w-95 border-radius-6px"
              />
              <figcaption class="position-absolute top-20px left-30px xs-bottom-10px sm-left-minus-20px xs-left-minus-10px xs-w-140px">
                <Image src={cityData.logo} alt={cityData.name} width={120} height={120} class="w-100" />
              </figcaption>
            </figure>
            </div>
            <div class="col-lg-6 last-paragraph-no-margin appear anime-child anime-complete" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;opacity&quot;: [0, 1], &quot;translateX&quot;: [-50, 0], &quot;staggervalue&quot;: 100, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <p class="fw-400 fs-20 lh-40">{cityData.description}</p>
            </div>
        </div> 
        <div class="row">
          <div class="col-12 sm-mb-30px">
            <iframe
                src={`${cityData.googleMapSrc}`}
                width={800}
                height={800}
                class="w-90 border-radius-5px box-shadow-small"
                frameborder="3"
                overflow-hidden
                style="border:0;"
                allowfullscreen="true"
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
            <div class="col-lg-5 col-md-6 contact-form-style-03 position-absolute sm-position-relative right-0px bottom-0 appear anime-complete" data-anime="{ &quot;opacity&quot;: [0, 1], &quot;translateY&quot;: [-20, 0], &quot;translateX&quot;: [-20, 0], &quot;staggervalue&quot;: 100, &quot;easing&quot;: &quot;easeOutQuad&quot; }" style=""> 
                <div class="bg-white p-13 md-p-10 position-relative overflow-hidden background-no-repeat background-position-right-bottom box-shadow-extra-large" style="background-image: url(images/demo-elearning-contact-bg-01.png)">
                    <div>
                        <h6 class="alt-font text-uppercase text-dark-gray fw-600 ls-minus-1px mb-5px">SI {cityData.id}定期集会</h6>
                        <p class="w-100 mb-10px">{cityData.address}</p>
                        <div class="w-100 d-block">
                            <span class="d-block"><span class="text-dark-gray fw-600">{cityData.meetingInfo}</span></span>
                            <span class="d-block"><span class="text-dark-gray fw-600">メール:</span> <a href=`mailto:${cityData.contactInfo}` class="text-dark-gray text-decoration-line-bottom fw-600">{cityData.contactInfo}</a></span>
                            <a href="https://maps.google.com/maps?ll=-37.805688,144.962312&amp;z=17&amp;t=m&amp;hl=en-US&amp;gl=IN&amp;mapclient=embed&amp;cid=13153204942596594449" target="_blank" class="btn btn-large btn-dark-gray btn-box-shadow btn-rounded btn-switch-text mt-35px">
                                <span>
                                    <span class="btn-double-text" data-text="インスタ">インスタ</span>
                                    <span><i class="fa-solid fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute bottom-130px z-index-minus-1 w-100 left-0px d-none d-lg-block">
            <div class="row position-relative mt-50px">
                <div class="col-12">
                    <!-- start marquees -->
                    <div class="marquees-text fs-200 ls-minus-2px alt-font fw-600 text-nowrap opacity-3">新歓イベントの問い合わせお待ちしています！</div>
                    <!-- end marquees -->
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 justify-content-center mt-8 mb-7 sm-mb-50px">
      <div class="col-lg-5 text-center divider-style-01">
          <div class="d-flex justify-content-center">
              <div class="divider-border d-flex align-items-center w-100">
                  <span class="d-flex flex-column justify-content-center w-65px h-65px border border-color-extra-medium-gray rounded-circle ms-20px me-20px"><i class="feather icon-feather-arrow-down icon-extra-medium text-dark-gray"></i></span>
              </div>
          </div>
      </div>
  </div>
</section>
<CityTabs />
</CityDetailLayout>
